{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}


<header
        class="masthead"
        style="background-image: url('../static/assets/img/bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Edit Record</h1>
                    <span class="subheading">To make any changes edit below.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-2 mt-4">
    <div class="container">
        <div class="row mx-2">
            <div class="alert alert-info fixed-width-alert" role="alert">
                To change the name or birthdate or email of the recipient modify below.
            </div>

            <div class="col-lg-8 col-md-10 mx-auto">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert {% if category == 'error' %} alert-danger {% elif category == 'success' %} alert-success {% endif %}">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>

            <div class="col-lg-8 col-md-10 mx-auto">
                {{render_form(form, novalidate=True, button_map={"submit": "primary"}, id="myForm") }}
            </div>

        </div>
    </div>
</main>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var form = document.getElementById('myForm');
    form.addEventListener('submit', function(event) {
        var confirmMessage = 'Are you sure you want to proceed?';

        if (form.action.includes('edit-birthday')) {
            confirmMessage = 'Are you sure you want to update this birthday record?';
        }
        if (!confirm(confirmMessage)) {
            event.preventDefault();
        }
    });
});
</script>


{% include "footer.html" %}
{% endblock %}
