{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}

<header
        class="masthead"
        style="background-image: url('../static/assets/img/user.jpg')">

    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>{{current_user.name}}</h1>
                    <span class="subheading">Your birthdays record</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-2 mt-4">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert {% if category == 'error' %} alert-danger {% elif category == 'success' %} alert-success {% endif %}">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>

            {% if current_user.id == 1 %}

            <h2 style="margin-top: 15px; margin-bottom:15px">Users</h2>
            <ul>
                {% for user in all_users %}
                {% if user.id != 1: %}

                <li>
                    {{user.name}}
                    <form method="POST" action="{{ url_for('main.delete_user', user_id=user.id) }}"
                          class="delete-form my-1"
                          data-user-name="{{ user.name }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </li>

                {% endif %}
                {% endfor %}
            </ul>

            {% endif %}

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h2 style="margin-top: 5px; margin-bottom:15px">Birthdays</h2>
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <!--    No table header                            -->
                            </tr>
                            </thead>
                            <tbody>
                            {% if current_user.birthdays: %}
                            {% for birthday in current_user.birthdays %}
                            <tr>
                                <td>{{ birthday.name|striptags }}</td>
                                <td><a type="button" class="btn btn-warning btn-sm"
                                       href="{{url_for('birthdays.edit_birthday', birthday_id=birthday.id)}}">Edit</a>
                                </td>
                                <td>
                                    <form method="POST" action="{{url_for('birthdays.delete_birthday', birthday_id=birthday.id) }}"
                                          class="delete-form my-1"
                                          data-user-name="{{ birthday.name }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else: %}
                            <tr>
                                <td><span>You have not added any birthdays yet. <a href="{{url_for('birthdays.save')}}">Click to add</a></span>
                                </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    document.addEventListener('submit', function(event) {
    if (event.target.classList.contains('delete-form')) {
        event.preventDefault();
        var userName = event.target.getAttribute('data-user-name');
        if (confirm(`Are you sure you want to delete ${userName}?`)) {
            event.target.submit();
        }
    }
});


</script>

{% include "footer.html" %} {% endblock %}
